@import '../../common_projects_utilities/css/reset';

$roboto: 'Roboto', sans-serif;
$dark-color: #000;
$light-color: #fff;
$body-color: #000;

/* GENERAL */
body {
    font-family: $roboto;
    color: $dark-color;

    height: 431px;

    display: flex;
    align-items: center;
}

.section {
    width: 100%;
    max-width: 640px;
    height: auto;

    margin: auto auto;

    .title {
        display: flex;
        align-items: center;

        margin-bottom: 16px;
    }
}

.widget {
    &__title {
        font-weight: 700;
        font-size: 16px;
        // padding-left: 6px;
        // border-left: 2px solid;
        &-bg {
            font-weight: 700; //Si finalmente vamos con 700, nos podemos cargar la 500 de la llamada en el HTML. Confirmar antes que no se usa más veces
            color: #fff;
            //padding: 0 2px;
            &--blue {color: #414257}
            &--red {color: #fd5154}
            &--vacuna-diaria {color: #9dacbe;}
            &--vacuna-media {color: #414257;}
        }       
    }
    &__vaccine-subtitle {
        font-weight: 300;
        font-size: 14px;
        //color: #adadad;
        color: #8d8d8d;
        margin-bottom: 8px;
        & .main {
            font-weight: 700;
            color: $dark-color;
        }
    }
    &__source {
        text-align: right;
        font-weight: 300;
        font-size: 14px;
        color: #8d8d8d;
        
        & .main {
            font-weight: 700;
            color: $dark-color;
        }
        
    }
}

.vaccine-selector {
    width: 98px;
    margin-left: 8px;
    height: 24px;
    border: 1px solid;
    border-radius: 2px;
}

.vaccine__container {
    box-sizing: border-box;
    width: calc(100% - .5%);
    margin-bottom: 16px;

    #vaccine-histogram {
        height: 300px;
        margin-bottom: 12px;
    }

    #vaccine-barchart {
        width: 100%;
        height: 7px;
    
        background-color: #eaebec;
    
        position: relative;
    
        #vaccine-pauta {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;

            background-color: #36374c;
            width: 0%;
            transition: width 1s;
        }
    
        .line-70 {
            position: absolute;
            
            top: -20px;
            left: calc(70% - 11.5px);
            transform: translate(calc(-70%), 0px);
            width: 23px;

            font-weight: 300;
            font-size: 13.5px;
            color: #272727;

            &::after {
                content: '';
                position: absolute;
                left: 11.5px;
                top: 15px;
                width: .5px;
                height: 16px;
                background: $body-color;
            }
        }
    }
}

/* Tooltip */
.tooltip-widget {   
    position: absolute;
    display: none;        
	width: auto;
	max-width: 105px;                   
    height: auto;                   
    padding: 5px 10px;               
    font: 0.6rem sans-serif;      
    background: #f7f7f7;       
    pointer-events: none;           
}
.tooltip-widget span {
    display: block;
    margin-bottom: 2px;
}

/* Otros */
.visible-mobile {display: none;}

@media only screen and (max-width: 493px){
    .visible-mobile {display: inline;}
    .hidden-mobile {display: none;}
}